body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.clear {
    clear: both;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.leftSide {
    width: 40%;
    float: left;
}

.rightSide {
    float: left;
    width: 60%;
}

.hinhTo {
    width: auto;
    height: auto;
}

.hinhNho {
    width: auto;
    height: 70px;
    text-align: center;
}

.hinhTo img {
    width: 100%;
}

.hinhNho img {
    width: auto;
    height: 100%;
}

#tieuDe {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#Gia {
    font-size: 26px;
    margin-left: 120px;
    color: red;
}