body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.clear {
    clear: both;
}

.chiTietSanPham {
    width: 1000px;
    margin: auto;
    border: 1px solid green;
}

.leftSide {
    width: 333px;
    float: left;
    border: 1px solid red;
}

.leftSide img {
    width: 100%;
}

.smallImages {
    width: 333px;
    height: 50px;
    float: inline-end;
}

.smallImages img {
    width: 100%;
}